@import "products/orders";

.panel-subheading {
  padding: 0px 5px 0px 5px;
}

.panel-row {
  padding: 15px 0 15px 0;
  border-top: 1px solid $panel-row-border;
}

.badge {
  background-color: #777;
}
